<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sandeep.mvvmdemo">

    <!--Permissions-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--Application-->
    <application
        android:name="com.sandeep.com.sandeep.mvvmdemo.MVVMDemoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <!--Activities-->
        <activity
            android:name="com.sandeep.com.sandeep.mvvmdemo.core.navigation.RouteActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sandeep.com.sandeep.mvvmdemo.feature.converter.view.activity.CurrencyActivity"
            android:label="@string/currency_converter"></activity>



    </application>

</manifest>

